@import "../../../../assets/scss/modals";
@import "../../../../assets/scss/mixins/palette";

.confirm-modal {
  max-width: 484px;
  width: 100%;
  margin: 20px 15px;
}

h3 {
  text-align: left;
  font-size: 17px;
  color: $text-color;
  font-weight: bold;

  span {
    font-size: 1.3rem; color: $silver-dark; font-weight: normal;
  }
}

div.updater > div.html-content {
  color: $text-color; overflow-y: scroll; height: 284px; text-align: left;

  h2 {
    text-align: center!important; color: $text-color!important; font-size: 1.3rem!important; font-weight: bold!important;
  }
  h3 {
    text-align: left!important; color: $text-color!important; font-size: 1.3rem!important; font-weight: bold!important;
  }

  p { font-size: 14px; }

  a {
    color: $main-color-light;
    text-decoration: none;
    background-color: transparent;
    margin-top: 10px;
    display: inline-block;
  }
}
