<a class="close-modal" (click)="closeModal()">&times;</a>
<h2>Save new Segment</h2>

<form [formGroup]="form" class="form center-vertical text-left" (submit)="saveSegment();">

  <ng-select #ngSelectComponent
    type="text"
    placeholder="Choose a name for the Segment"
    formControlName="segmentName"
    bindLabel="name"
    bindValue="name"
    (keyup)="setTemporaryName($event)"
    [items]="segments"
    [(ngModel)]="selectedSegment" dropdownPosition="down">
    <ng-template ng-footer-tmp>
      <div class="create-new" *ngIf="!checkNewSegment()"><i class="fal fa-plus-circle"></i>&nbsp;Add named profile</div>
      <div class="create-new add" (click)="addNewSegment()" *ngIf="checkNewSegment()"><i class="fal fa-plus-circle"></i>&nbsp;Add "<strong>{{temporaryName}}</strong>"</div>
    </ng-template>
  </ng-select>

  <br>
  <button (click)="saveSegment()">Save Segment</button>
  <a (click)="closeModal()">Cancel</a>

</form>
