@import "mixins/utility";
@import "mixins/palette";
@import "global";

form h2 {
  display: block;
  font-weight: bold;
  font-size: 16px!important;
  color: $main-color;
  padding: 20px 0 10px;
}

form button {
  background: $black;
  border-radius: $border-radius;
  color: $white-text-color;
  outline: none;
  border: none;
  transition: all 0.3s ease;
  padding: $form-button-padding;

  &:hover {
    opacity: 0.6;
  }

  .rounded-button {
    border-radius: 50%;
    background: $silver-dark;
    color: $white-text-color;
  }
}

.form-control {
  display: inline-block;
  width: 100%;
  height: $form-control-height;
  background: $silver-25;
  border-radius: $border-radius;
  color: $silver-dark;
  font-size: $font-size-form-control;
  padding: $padding-form-control;
  transition: all 0.3s ease;

  &:focus {
    background: $white-text-color;
    border: 1px solid $text-color;
    color: $text-color;
  }
}

.form-control-input-button {
  display: inline-block;
  position: relative;
  .form-control {
    padding-right: 32px!important;
  }
  button {
    position: absolute;
    right: -10px;
    top: 0;
    outline: none!important;
    border: none!important;
    background: none!important;
    color: $text-color;
  }
}

.form-control-input-icon {
  display: inline-block;
  position: relative;
  .form-control {
    padding-left: 32px!important;
  }
  i {
    position: absolute;
    left: 15px;
    top: 15px;
  }
}

.form-field {
  margin-bottom: 7px;
  label {
    display: inline-flex;
    font-weight: normal;
    color: $main-color;
    justify-content: flex-end;
    justify-self: center;
    width: 25%;
    padding-right: 15px;
  }
  ng-select {
    display: inline-flex;
    width: 75%;
  }
  input {
    display: inline-flex;
    width: 75%;
  }
}

.mat-checkbox-layout {
  width: auto!important;
}

.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background: $silver-dark;
}

.mat-menu-panel {
  width: 300px;
  min-width: 300px;
  max-width: 500px;
  border-radius: $context-menu-border-radius;

  .mat-menu-item {
    line-height: 40px;
    height: 40px;
  }
}
