@import "mixins/utility";
@import "mixins/palette";
@import "global";

$padding-form-control: 5px 10px;
$font-size-form-control: 14px;
$form-control-height: 40px!important;
$form-control-min-width: 290px;

.form-control {
  display: inline-block;
  min-width: $form-control-min-width;
  width: 100%;
  height: $form-control-height;
  background: $silver-25;
  border-radius: $border-radius;
  color: $silver-dark;
  font-size: $font-size-form-control;
  padding: $padding-form-control;
  transition: all 0.3s ease;

  &:focus {
    background: $white-text-color;
    border: 1px solid $text-color;
    color: $text-color;
  }
}

.form-control-input-icon {
  display: inline-block;
  position: relative;
  .form-control {
    padding-left: 32px!important;
  }
  i {
    position: absolute;
    left: 15px;
    top: 15px;
  }
}




.form-group {
  height: 62px;
  margin-bottom: 10px;
  vertical-align: middle;
}
.form-group small { float: right; }


