@import "mixins/palette.scss";

$border-radius: 5px;
$modal-border-radius: 20px;
$context-menu-border-radius: 20px;

$optionbar-height: 60px;
$commandbar-height: 60px;
$commandbar-extended-height: 110px;
$menubar-width: 240px;
$search-bar-width: 400px;

$standard-padding: 20px;
$modal-padding: 20px;

$form-button-padding: 10px 20px;
$toggle-button-padding: 5px 10px;
$padding-form-control: 5px 10px;
$font-size-form-control: 14px;
$form-control-height: 40px!important;

$icon-button-width: 20px;
$icon-button-height: 20px;
$icon-button-width-small: 14px;
$icon-button-height-small: 14px;

$compact-fixed-width: 560px;

html, body { height: 100%; }

::ng-deep {
  .mat-elevation-z4 {
    box-shadow: none;
  }
  .mat-menu-panel {
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  }
  .ng-dropdown-footer {
    border-top: none!important;
  }
}


body {
  position: relative;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

img  {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
}

:focus
{
  outline: none !important;
  box-shadow: none;
}

::-webkit-scrollbar-track
{
  border-radius: 10px;
  background-color: $silver-25;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: $silver-25;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: $silver-dark;
}

a { text-decoration: none; cursor: pointer; * { cursor: pointer; } }

hr { margin: 10px 0; display: block; height: 1px; border-top: 1px solid $silver-50; }

.clear { clear: both; }

.line-start { margin-right: auto; }
.line-end { margin-left: auto; }

.string { font-weight: bold; }

.scrollable {
  overflow-y: auto;
}

.hidden { visibility: hidden; display: inline-block; margin: 0; padding: 0; width: 0; height: 0; }

.inline { display: inline-block; }

.max-width { width: 100%!important; }

.divider {
  width: 100%;
  display: block;
  height: 1px;
  background: $silver-50;
}

.icon-button {
  border: none!important;
  outline: none!important;
  background: none!important;

  display: flex;
  align-content: center;
  align-items: center;

  min-width: $icon-button-width!important;
  min-height: $icon-button-height!important;
  width: $icon-button-width!important;
  height: $icon-button-height!important;

  padding: 0!important;

  transition: opacity 0.3s ease;
  cursor: pointer;

  i, mat-icon {
    color: $silver-dark;
    font-size: $icon-button-width;
  }

  &:hover {
    opacity: 0.7;
  }
}

.badge {
  display: inline-block;
  padding: 5px;
  min-width: 50px;
  height: 24px;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;

  background: $main-color-light;
  border-radius: 0;
  color: $white-text-color;

  &.badge-rounded { height: 20px; border-radius: 12px; text-transform: none; font-size: 10px; }
  &.badge-gray { background: $silver-50; color: $text-color; }
  &.badge-black { background: $text-color; color: $white-text-color; }
  &.badge-blue { background: $dark-sky-blue; color: $white-text-color; }
  &.badge-orange { background: $aws; color: $white-text-color; }
  &.badge-red { background: $danger-color; color: $white-text-color; }
  &.badge-green { background: $success-color; color: $white-text-color; }
  &.badge-purple { background: $primary-color; color: $white-text-color; }
  &.badge-azure { background: $main-color-light; color: $white-text-color; }
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: none!important;

  tr {
    border: none;
  }

  thead th {
    font-size: 14px;
    font-weight: normal;
    position: sticky; top: 0;
    background: $white-text-color;
  }

  tbody td, thead th {
    color: $silver-dark;
    padding: 10px;
    border: none;
    border-bottom: 1px solid $silver-50;
    height: 57px;
  }

  tbody td {
    vertical-align: middle;
  }
}

/* TABS Style */
.tabs{ position: relative; margin: 0; }

.tabs .tab {
  cursor: pointer;
  padding: 10px 20px;
  margin:0 2px -1px;
  background:#fff;
  display:inline-block;
  color:#909f9d;
  border-radius: 5px 5px 0 0;
  border: none;
}

.mat-tab-labels {
  display: flex;
  justify-content: center;
}

.mat-tab-header {
  background: transparent;
  margin: 0;
}

/* Styles for tab labels */
.mat-tab-label {
  min-width: 25px !important;
  background-color: #ffffff;
  text-align: center!important;
  font-weight: normal;
  text-transform: capitalize;
  color: $text-color;
  height: auto!important;
  padding: initial!important;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  text-align: center!important;
  font-weight: normal;
  text-transform: capitalize;
  color: $black;
  opacity: 1;

  .mat-tab-label-content {
    background-color: $silver-30;
    border-radius: $border-radius;
  }
}

/* Styles for the ink bar */
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  height: 0;
}

.mat-tab-label, .mat-tab-label-content {
  display: inline-flex!important;
  flex-direction: column!important;
  text-align: center;
  padding: 5px 10px;
  margin: 5px;
}

.mat-tab-icon, .mat-tab-label-text {
  display: block!important;
  text-align: center;
}

.mat-tab-label-text {
  font-size: 12px;
}

.mat-ripple-element {
  display: none!important;
}

.mat-list-base .mat-subheader {
  font-size: 12px;
  color: $silver-dark;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-item.mat-list-item-with-avatar,
.mat-list-base .mat-list-option.mat-list-item-with-avatar,
.mat-list-base .mat-list-item.mat-list-item-with-avatar,
.mat-list-base .mat-list-option.mat-list-item-with-avatar {
  height: 35px!important;
  transition: all 0.3s ease;
  font-size: 14px;

  &:hover {
    background: $silver-25;
  }
}

.mat-expansion-panel-header {
  padding: 0 24px 0 10px!important;
  border-radius: 0;
  height: 48px!important;
}
.mat-accordion .mat-expansion-panel:last-of-type {
  border-bottom-right-radius: 0!important;
  border-bottom-left-radius: 0!important;
}
.mat-accordion .mat-expansion-panel:first-of-type {
  border-top-right-radius: 0!important;
  border-top-left-radius: 0!important;
}
.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none!important;
}
.mat-subheader {
  display: flex;
  box-sizing: border-box;
  padding: 12px 16px!important;
  align-items: flex-end!important;
}

.mat-expansion-panel-body {
  margin: 0 -24px;
}
.mat-content {
  justify-content: space-between;
}
.mat-expansion-panel-header-description {
  display: flex;
  margin-right: 10px;
  justify-content: flex-end;
  align-items: center;
}

.compact { .left { width: 130px!important; border-bottom: 1px solid $silver-75; } }
.compact { .right { width: calc(100% - 130px)!important; } }
.compact {
  .search-bar {
    width: 200px!important;
  }
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: $text-color;
  cursor: pointer;
  transition: opacity 0.3s ease;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }
}
