@import "mixins/palette.scss";

$border-radius: 5px;
$optionbar-height: 60px;
$commandbar-height: 60px;
$menubar-width: 240px;

html, body { height: 100%; }

body { margin: 0; }

* {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  outline: none;
}

::-webkit-scrollbar-track
{
  border-radius: 10px;
  background-color: $silver-25;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: $silver-25;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: $silver-dark;
}

hr {
  margin: 10px 0;
}
