@import "global";
@import "mixins/palette";

.ng-select > .ng-select-container .ng-arrow {
  top: -1px;
  border-color: $text-color transparent transparent!important;
  border-width: 5px 5px 0;
}

.ng-select.ng-select-opened > .ng-select-container .ng-arrow {
  top: -1px;
  border-color: transparent transparent $text-color!important;
  border-width: 0 5px 5px;
}

.ng-select.ng-select-single .ng-select-container {
  height: $form-control-height;
  background: $silver-25;
}
.ng-select.ng-select-opened.ng-select-single .ng-select-container {
  background: $white-text-color;
  border: 1px solid $text-color;
  color: $text-color;
}

.ng-select .ng-clear-wrapper { display: none; }
