.toast-error, .toast-warning, .toast-success, .toast-info {
  border-radius: 3px;
  padding: 10px 20px;
  min-width: 400px;
  z-index: 9999;
  font-size: 14px;
}

.toast-info { color: #64BFFC !important; background: #E6F5FF!important; }
.toast-success { color: rgba(30,86,31,0.8)!important; background: #FCFFF5!important; }
.toast-error { color: #dc2c29 !important; background: #fff6f6 !important; }
.toast-warning { color: #B5A262 !important; background: #FFF8BA !important; }

.toast-container { z-index: 99; }
