@import "../../../assets/scss/global";

.command-bar {
  display: block;
  width: 100%;
  height: $commandbar-height;
  -webkit-user-select: auto;
  -webkit-user-drag: auto;
  -webkit-app-region: drag;
}

.side-bar {
  display: block;
  float: left;
  width: $menubar-width;
  height: calc(100vh - #{$commandbar-height});
  border-right: 1px solid $silver-75;
  padding: $standard-padding;
}

.sessions {
  position: relative;
  display: block;
  float: right;
  width: calc(100% - #{$menubar-width});
  height: calc(100vh - #{$commandbar-height});
  overflow: auto;
}
