@import "../../../../assets/scss/mixins/palette";
@import "../../../../assets/scss/mixins/utility";

h2 {
  display: block;
  font-weight: bold;
  font-size: 16px;
  color: $text-color;
  padding: 20px 0 10px;
}

.form-field {
  label {
    display: inline-flex;
    font-weight: normal;
    color: $text-color;
    justify-content: flex-end;
    justify-self: center;
    width: 25%;
    padding-right: 15px;
  }
  ng-select {
    display: inline-flex;
    width: 75%;
  }
  input {

  }
}


.panel{
  animation: fadein .8s;
  overflow-x: hidden;
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}


/* TABS Style TODO: to be styled */

.tabs{ position: relative; border-bottom: 1px solid #73E0CF; margin: 20px 0; }
.tabs .tab {
  cursor: pointer;
  padding:10px 20px;
  margin:0 2px -1px;
  background:#fff;
  display:inline-block;
  color:#909f9d;
  border-radius: 5px 5px 0 0;
  border: none;
  border-bottom: 1px solid #73E0CF;
}


.tabs .tab.active {
  border-top: 3px solid #73E0CF;
  border-left: 1px solid #73E0CF;
  border-right: 1px solid #73E0CF;
  border-bottom: 1px solid white!important;
}

.mat-tab-header {
  border-bottom: 0;
  background: #73E0CF;
  border-radius: 6px;
  margin: 20px 0 10px 0;
}

/* Styles for tab labels */
.mat-tab-label {
  min-width: 25px !important;
  background-color: #73E0CF;
  text-align: center!important;
  font-weight: normal;
  text-transform: uppercase;
  color: white;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  background-color: #73E0CF;
  text-align: center!important;
  font-weight: normal;
  text-transform: uppercase;
  color: white;
}

/* Styles for the ink bar */
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #ffffff;
  height: 4px;
}

.mat-tab-label, .mat-tab-label-content {
  display: inline-flex!important;
  flex-direction: column!important;
  text-align: center;
}

.mat-tab-icon, .mat-tab-label-text {
  display: block!important;
  text-align: center;
}

.mat-tab-label-text {
  font-size: 12px;
}
