@import "../../../../assets/scss/mixins/palette";
@import "../../../../assets/scss/mixins/utility";

.confirm-modal {
  max-width: 520px;
  width: 100%;
}

.proxy-length-1 { width: 18%!important; }
.proxy-length-2 { display: inline-block; width: 4%!important; padding: 0 3px; text-align: center; }
.proxy-length-3 { width: 60%!important; }
.proxy-length-4 { display: inline-block; width: 3%!important; padding: 0 3px; text-align: center; }
.proxy-length-5 { width: 15%!important; }

.option-table {
  td {
    padding-left: 0!important;
    padding-right: 0!important;
  }
  td:nth-child(2) {
    width: 60px;
    button {
      display: inline-block!important;
      margin-left: 10px;
    }
  }
}

.panel{
  animation: fadein .8s;
  overflow-x: hidden;
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
