
  <form [formGroup]="form" class="form center-vertical text-left" (submit)="saveOptions();">

    <mat-tab-group>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="mat-tab-icon">settings</mat-icon>
          <span class="mat-tab-label-text">General</span>
        </ng-template>

        <div class="panel">
          <h2>Default Regions</h2>

          <div class="form-container">
            <div class="form-group">
              <div class="form-field">
                <label>AWS Region</label>
                <ng-select formControlName="regionsSelect" bindLabel="region" bindValue="region" [items]="regions" [(ngModel)]="selectedRegion" dropdownPosition="down"></ng-select>
              </div>
            </div>

            <div class="form-group">
              <div class="form-field">
                <label>Azure Location</label>
                <ng-select formControlName="locationsSelect" bindLabel="location" bindValue="location" [items]="locations" [(ngModel)]="selectedLocation" dropdownPosition="down"></ng-select>
              </div>
            </div>
          </div>

          <hr>

          <h2>Proxy settings</h2>

          <div class="form-container">

            <div class="form-group">
              <div class="form-field">
                <select formControlName="proxyProtocol" class="form-control  proxy-length-1" [value]="proxyProtocol">
                  <option value="http">HTTP</option>
                  <option value="https">HTTPS</option>
                </select>

                <span class="proxy-length-2">://</span>

                <input formControlName="proxyUrl" type="text" class="form-control proxy-length-3" placeholder="Enter Proxy Url" [value]="proxyUrl" >

                <span class="proxy-length-4">:</span>

                <input formControlName="proxyPort" type="text" class="form-control proxy-length-5" placeholder="Enter Proxy Port" [value]="proxyPort" >
              </div>
            </div>

            <div class="form-group">
              <div class="form-field">
                <mat-checkbox formControlName="showAuthCheckbox" [(ngModel)]="showProxyAuthentication"></mat-checkbox> Use authentication?
              </div>
            </div>

            <div class="form-group" *ngIf="showProxyAuthentication">
              <div class="form-field">
                <label>Username</label>
                <input formControlName="proxyUsername" type="text" class="form-control" placeholder="Proxy Username" [value]="proxyUsername" >
              </div>

              <div class="form-field">
                <label>Password</label>
                <input formControlName="proxyPassword" type="password" class="form-control" placeholder="Proxy Password" [value]="proxyPassword" >
              </div>
            </div>
          </div>

        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="mat-tab-icon">terminal</mat-icon>
          <span class="mat-tab-label-text">IdP Url</span>
        </ng-template>

        <div class="no-padding no-margin panel">
          <h2>IdP URL</h2>

          <div class="form-container">

            <div class="form-group">
              <div class="form-field form-control-input-button max-width">
                <input formControlName="idpUrl" type="text" class="form-control max-width" placeholder="Add SAML 2.0 IdP URL" [value]="idpUrlValue ? idpUrlValue.url : ''" >
                <button type="button" (click)="manageIdpUrl(idpUrlValue ? idpUrlValue.id: -1);"><i class="fal {{editingIdpUrl ? 'fa-pencil' : 'fa-plus-circle'}}"></i></button>
              </div>
            </div>

            <div class="form-group scrollable">
              <table class="table option-table">
                <tbody>
                <ng-container *ngFor="let idpUrl of workspace.idpUrls">
                  <tr *ngIf="idpUrl">
                    <td>{{idpUrl.url}}</td>
                    <td>
                      <button class="icon-button inline" type="button" (click)="editIdpUrl(idpUrl.id);"><i class="fal fa-pencil"></i></button>
                      <button class="icon-button inline" type="button" (click)="deleteIdpUrl(idpUrl.id);"><i class="fal fa-trash"></i></button>
                    </td>
                  </tr>
                </ng-container>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </mat-tab>



      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="mat-tab-icon">people</mat-icon>
          <span class="mat-tab-label-text">Profiles</span>
        </ng-template>
        <div class="no-padding no-margin panel">
          <h2>Named Profiles</h2>

          <div class="form-group">
            <div class="form-field form-control-input-button max-width">
              <input formControlName="awsProfile" type="text" class="form-control max-width" placeholder="Add new Named Profile" [value]="awsProfileValue ? awsProfileValue.name : ''" >
              <button class="button" type="button" (click)="manageAwsProfile(awsProfileValue ? awsProfileValue.id: -1);"><i class="fal {{editingAwsProfile ? 'fa-pencil' : 'fa-plus-circle'}}"></i></button>
            </div>
          </div>

          <div class="form-group">
            <table class="table option-table">
              <tbody>
              <ng-container *ngFor="let profile of workspace.profiles">
                <tr *ngIf="profile">
                  <td>{{profile.name}}</td>
                  <td>
                    <ng-container *ngIf="profile.name !== 'default'">
                      <button class="icon-button inline" type="button" (click)="editAwsProfile(profile.id);"><i class="fal fa-pencil"></i></button>
                      <button class="icon-button inline" type="button" (click)="deleteAwsProfile(profile.id);"><i class="fal fa-trash"></i></button>
                    </ng-container>
                  </td>
                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="mat-tab-icon">extension</mat-icon>
          <span class="mat-tab-label-text">Integrations</span>
        </ng-template>
        <div class="no-padding no-margin panel">
          <h2>Integrations</h2>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="mat-tab-icon">account_box</mat-icon>
          <span class="mat-tab-label-text">Account</span>
        </ng-template>
        <div class="no-padding no-margin panel">
          <h2>Account</h2>
        </div>
      </mat-tab>

    </mat-tab-group>

    <button type="button" (click)="saveOptions();" [disabled]="!form.valid">Done</button>
  </form>
