@import "../../../../assets/scss/mixins/utility";
@import "../../../../assets/scss/mixins/palette";
@import "../../../../assets/scss/global";

.status-item { font-size: 12px; }

.active { color: $success!important; }
.offline { color: $silver-25!important; }

a { color: $text-color; }

.option-bar {
  padding: $standard-padding;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $white-text-color;
  height: $commandbar-height;
  bottom: 0;
  left: $menubar-width;
  right: 0;
  z-index: 1;
  @include box-shadow(3px -1px 5px -3px $text-color);
  a {
    display: inline-flex;
    margin: 0 10px;
  }
  .separator {
    display: inline-flex;
    width: 1px;
    height: 20px;
    background: $silver-dark;
    margin: 0 10px;
  }
}

.start-session, .stop-session {
  display: inline-flex;
  text-decoration: none;
  width: 120px!important;
  color: $text-color;
  i {
    font-size: 30px!important;
    color: $main-color-light
  }
}

.session-name {
  color: $silver-dark;
  font-size: 10px;
}

td.selected {
  background: $dark-sky-blue;
  color: $white-text-color;
  * {
    color: $white-text-color;
  }
  img {
    filter: brightness(0) invert(1);
  }
}
td.active {
  background: $focused-element;
}
td:nth-child(1) {
  font-size: 16px;
  color: $text-color;
  img { width: 30px; }
}

::ng-deep {
  .compact th { z-index: 1; }

  .compact th,
  .compact td:nth-child(1),
  .compact td:nth-child(2),
  .compact td:nth-child(4) {
    font-size: 12px!important;

    span {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: inline-block;
      width: 96px;
      font-weight: bold;
      position: relative;
      top: 3px;
    }
  }

  .compact th:nth-child(1) { width: 162px; }
  .compact th:nth-child(4) { width: 75px; }
  .compact th:nth-child(5) { width: 50px; }

  .compact .option-bar {
    left: 0;
    .start-session {
      width: 50px!important;
    }
  }
}

