<div class="left">
  <button class="icon-button line-end" (click)="toggleCompactMode();"><mat-icon>chrome_reader_mode</mat-icon></button>
</div>
<div class="right {{filterExtended ? 'extended' : ''}}">
  <form [formGroup]="filterForm">

    <div class="main-bar">
      <button class="icon-button line-start" (click)="showCreateDialog();"><i class="fal fa-plus-circle"></i></button>

      <button class="icon-button" (click)="toggleFilters();"><mat-icon>filter_list</mat-icon></button>

      <div class="form-control-input-icon">
        <input formControlName="searchFilter" type="text" class="form-control search-bar" placeholder="Search session" />
        <i class="fal fa-search"></i>
      </div>

      <button class="icon-button" (click)="false;"><i class="fal fa-redo"></i></button>

      <button class="icon-button line-end" (click)="showOptionDialog();"><i class="fal fa-cog"></i></button>
    </div>

    <div class="tag-filters">
      <input formControlName="dateFilter" type="checkbox" class="hidden" />
      <button class="toggle-button {{filterForm.get('dateFilter').value ? 'toggled' : ''}}" (click)="toggleDateFilter();"><i class="fal fa-exchange fa-rotate-90"></i> Order by date</button>

      <button class="toggle-button" [matMenuTriggerFor]="providerMenu"><i class="fal fa-cloud"></i> Provider</button>
      <mat-menu #providerMenu="matMenu">
        <div class="filter-menu" (click)="$event.preventDefault(); $event.stopPropagation();">
          <ng-container *ngFor="let provider of providers">
            <mat-checkbox (click)="$event.stopPropagation();" (change)="provider.value = $event.checked; providerChange();"></mat-checkbox> {{provider.name}}
            <br>
          </ng-container>
        </div>
        <hr (click)="$event.preventDefault(); $event.stopPropagation();">
        <div class="menu-buttons" (click)="$event.preventDefault(); $event.stopPropagation();">
          <button class="btn-control">Apply</button>
          <a (click)="trigger.closeMenu();">Cancel</a>
        </div>
      </mat-menu>

    </div>

  </form>

</div>
<div class="clear"></div>
