@import "../../../assets/scss/global";

$search-bar-width: 400px;

.left {
  float: left;
  width: $menubar-width;
  height: $commandbar-height;
  padding: $standard-padding;
  border-right: 1px solid $silver-75;
}
.right {
  float: right;
  width: calc(100% - #{$menubar-width});
  height: $commandbar-height;
  padding: $standard-padding;
  border-bottom: 1px solid $silver-75;

  display: flex;
  column-gap: 2em;
  justify-content: flex-start;
  align-items: center;
}

.search-bar {
  width: $search-bar-width;

  &::placeholder {
    color: $silver-dark;
    text-align: center;
  }
}
