@import "../../../assets/scss/global";
@import "../../../assets/scss/form";

.left {
  float: left;
  width: $menubar-width;
  height: $commandbar-height;
  padding: $standard-padding;
  border-right: 1px solid $silver-75;
}
.right {
  display: flex;
  align-items: center;

  float: right;
  width: calc(100% - #{$menubar-width});
  height: $commandbar-height;

  .tag-filters {
    display: block;
    height: 1px;
    border-top: 1px solid $silver-75;
    overflow: hidden;
  }

  &.extended {
    flex-direction: column;
    height: $commandbar-extended-height!important;
    border-bottom: none!important;

    .tag-filters {
      padding: 15px $standard-padding;
      height: auto;
    }
  }

  .main-bar {
    width: 100%;
    display: flex;
    padding: 10px $standard-padding 9px $standard-padding;
    column-gap: 2em;
    justify-self: center;
    justify-content: flex-start;
    align-items: center;
  }
}

.search-bar {
  width: $search-bar-width;

  &::placeholder {
    color: $silver-dark;
    text-align: center;
  }
}
