@import "../../../assets/scss/mixins/palette";

.float { float: left; }
.clear { clear: both; }

.holder {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 8%;
  height: 100%;
  i {
    font-size: 20px;
    color: white;
  }
}

.large {
  width: 84%;
}

.small {
  width: 8%;
  height: 100%;
  font-size: 38px;
  font-weight: lighter;
  text-decoration: none;
  color: $background;
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.2s ease;
  &:hover { opacity: 0.6; }
}

