@import "../../../../assets/scss/mixins/palette";
@import "../../../../assets/scss/modals";

.confirm-modal {
  max-width: 300px;
  width: 100%;
}

h4 { color: $text-color; }
div,p { color: $text-color; }
